@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* general */

html {
    /* width: 94.5%; */
    margin: 0 13px 0 12px;
    /* margin: 0 auto; */
}

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.validation-message {
    display: block;
    padding-top: 0;
    color: red;
    position: relative;
    top: -10px;
    font-size: .7rem;
}

button {
    cursor: pointer;
}
.continue:hover {
    background-color: #fa7908;
}
input[type=button] {
    cursor: pointer;
}

img {
    width: 100%;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 0.99;
}


input[type="checkbox"] {
    display: inline-block;
    width: auto;
    padding: 0;
    height: initial;
}

.icon {
    width: 20px;
    height: 20px;
}
.icon img {
    width: 20px;
    height: 20px;
}

/* make unwanted labels invisible, but visible to screen readers */
.no-visible {
    border: 0;
    /* clip: rect(1px 1px 1px 1px); IE6, IE7 */
    clip-path: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
} 

.footer a {
    color: inherit;
}

.prod-img, .img {
    height: 136.27px;
    width: 134.21px;
    border-radius: 13px;
    flex: 1;
}

.prod-img {
    width: 50%;
}

/* mobile */

.checkout {
    display: flex;
    flex-direction: column;
}
.form-main-text {
    font-size: 24px;
    line-height: 1.8;
    color: #4e5150;
    transform: rotate(-0.02deg);
    margin-bottom: 1.3rem;
    margin-top: 2rem;
}
.contact {
    order: 2;
}
.product {
    order: 1;
    background-color: #f2f2f2;
    border-radius: 0.75rem;
    padding: 1.9rem 1.5625rem;
    margin-bottom: 2.4375rem;
    /* width: 350px; */
    /* removed fixed size of 350px to enable flow */
}

.prod-card {
    display: flex;
    justify-content: space-between;
}
.prod-card + .prod-card {
    margin-top: 1.8rem;
    margin-bottom: 5.45rem;
}
.price-qty {
    flex: 1;
    width: 50%;
    margin-left: .5rem;
}
.prod-name {
    font-size: 0.75rem;
    color: #4e5150;
    line-height: 0.9;
    text-transform: capitalize;
    margin-bottom: 1rem;
    margin-top: .8rem;
}
.price {
    display: flex;
    align-items: center;
}
.current-price {
    font-size: 0.875rem;
    color: #f2994a;
    line-height: 1.1;
    margin-right: 1rem;
}
.prev-price {
    color: #4e5150;
    line-height: 0.76;
    font-size: 0.66rem;
}
.qty {
    width: 7.675rem;
    display: flex;
    background-color: #f2f2f2;
    border: 1px solid #828282;
    border-radius: .75rem;
    height: 3.12rem;
    align-items: center;
    padding: 16.62px 10.16px 13.85px 10.16px;
    margin-top: 2.1875rem;
}
.qty-btn {
    width: 1.5rem;
    height: 1.5rem;
    color: #828282;
    background: #e0e0e0;
    display: block;
    justify-content: space-evenly;
    border: none;
    border-radius: 4px;
}
.qty-input {
    height: 100%;
    width: 60%;
    text-align: center;
    border: none;
    background-color: transparent;

    appearance: none;
    -webkit-appearance: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}
.qty-input:focus {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

/* prices */
.prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #bdbdbd;
    transform: rotate(-0.18deg);
    color: #333333;
    font-size: .875rem;
    line-height: 1.067rem;
    padding: 1rem 0;
}


/* contact */
.contact-text {
    color: #333333;
    font-size: 0.875rem;
    line-height: 1.067;
    margin-bottom: 0.699rem;
}
.label {
    font-size: 0.625rem;
    color: #4f4f4f;
    margin-bottom: 0.327rem;
    line-height: 0.76;
}
.contact-info {
    margin-bottom: 2.815rem;
}
.input {
    width: 100%;
    position: relative;
    margin-bottom: 0.7rem;
}
.contact-input{
    width: 100%;
    border: 1px solid #828282;
    border-radius: .725rem;
    height: 2.535rem;
    padding-left: 2rem;
    /* padding-right: .5rem; */
}
.icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-flex {
    flex: 1;
    width: 35%;
    margin-right: 1rem;
}
.country-select {
    width: 100%;
    height: 2.535rem;
    border: 1px solid #828282;
    border-radius: .725rem;
    padding: 0 .5rem 0 2rem;
    background-color: transparent;
    appearance: none;
}
.input.select{
    position: relative;
}
.input.select::after {
    content: ' ';
    background-color: #e0e0e0;
    background-image: url(../img/keyboard_arrow_down_black_24dp.svg);
    width: .9375rem;
    height: .9375rem;
    position: absolute;
    right: 6%;
    top: 35%;
    background-size: contain;
    border-radius: 4px;
}
.postal-flex {
    width: 65%;
    flex: 1;
}

.check > .check {
    width: 1rem;
    height: 0.9375rem;
    position: relative;
    top: 3px;
}
.check {
    margin-bottom: 1.25rem;
}
.label.label-check {
    font-size: .625rem;
    line-height: .762rem;
}

.continue {
    background-color:  #f2994a;
    color: #fff;
    font-size: 1rem;
    line-height: 1.218;
    padding: 1.0625rem 2.8125rem;
    border: none;
    border-radius: 0.75rem;
    position: relative;
    left: calc(100% - 10.375rem);
    margin-bottom: 5.936rem;
    width: 10.375rem;
}



/* footer */
.footer {
    text-align: center;
    color: #bdbdbd;
    font-size: .875rem;
    line-height: 1.067;
}






/* for desktop */

@media (min-width: 1440px)
{
    html {
        max-width: 1440px;
        margin: 0 auto;
    }

    body {
        width: 75%;
        margin: 0 auto;
    }

    .checkout {
        flex-direction: row;
        width: 100%;
    }
    .contact {
        order: 1;
        width: 50%;
        margin-inline-end: 7rem;
    }
    .product {
        order: 2;
        width: 40%;
        height: 535px;
    }

    .form-main-text {
        font-size: 2.25rem;
    }
    .contact-text {
        font-size: 1.125rem;
    }
    .label{
        font-size: 0.75rem;
        margin-bottom: 0.436rem;
        line-height: 0.914375;
    }
    .contact-input {
        height: 3.5rem;
    }
    .country-select {
        height: 3.5rem;
    }
    .icon img {
        height: 16px;
    }
    .icon {
        top: 35%;
    }
    .check > .check {
        width: 1.3125rem;
        height: 1.3125rem;
    }
    .label.label-check {
        font-size: 0.75rem;
        line-height: .914375;
    }
    .prod-name, .current-price {
        font-size: 1rem;
        line-height: 1.21875;
    }
    .prev-price {
        font-size: .75rem;
        line-height: .914375;
    }
    .qty {
        width: 8.39rem;
        margin-top: 1.1875rem;
    }
    .prod-img {
        width: 8.388rem;
        height: 8.52rem;
    }

}